<section class="prog-list-page">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-12">
  					<ul class="item-listing">
  						
						<li style="min-height:400px;">
  							<div class="row">
								
								<div class="col-sm-12">
									<h4 style="text-align: center;font-size: 24px;font-weight: bold;border-bottom: 2px solid #eee;padding: 20px;"><%= @post.title %></h4>
									<div class="prod-desc" style="padding: 20px 10px;">
										
										<p class="p-desc"><%= @post.content %> </p>
										
									</div>
								</div>
							</div>
  						</li>
  						
						
  					</ul>
  				</div>
  			</div>
  		</div>
  	</section>
