<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<p class="copyright">&copy; 2016-All Rights Reserved. </p>
			</div>
			<div class="col-sm-6">
				<ul class="list-inline footer-links">
					<li><a href="/">Home</a></li>
					<li><a href="/posts/About-us">About us</a></li>
					<li><a href="/posts/How-it-works">How it Works</a></li>
					<li><a href="/posts/Terms">Terms & Condition</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="social-links">
					<li><a href=""><i class="fa fa-facebook"></i></a></li>
					<li><a href=""><i class="fa fa-twitter"></i></a></li>
					<li><a href=""><i class="fa fa-instagram"></i></a></li>
					<li><a href=""><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
