<div class="left-pan" style="border: 1px solid #cbcbcb;padding: 10px;">
	<ul>
		<li><a href="/users/manage/">List Of Users</a></li>
		<li><a href="/users/adduser/">Add User</a></li>
		<li><a href="/companies/market/">Market Management</a></li>
		<li><a href="/orders/myarchivelist">Archive List</a></li>
		<li><a href="/categories/manage">Category Management</a></li>
	</ul>
</div>